### Настройка Airflow

Для начала вам необходимо выполнить ряд команд чтобы настроить окружение для дальнейшей работы, это позволит первое время не заниматься настройкой среды исполнения, а сразу начать писать код и работать с Airflow.

In [1]:
# Установка Airflow
!pip install apache-airflow==2.1.4

# Инициализация базы данных
!airflow db init

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apache-airflow==2.1.4
  Downloading apache_airflow-2.1.4-py3-none-any.whl (5.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 22.8 MB/s eta 0:00:00
Collecting pyjwt<2
  Downloading PyJWT-1.7.1-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: pygments<3.0,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (2.6.1)
Collecting setproctitle<2,>=1.1.8
  Downloading setproctitle-1.3.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (31 kB)
Collecting unicodecsv>=0.14.1
  Downloading unicodecsv-0.14.1.tar.gz (10 kB)
  Preparing metadata (setup.py) ... done
Collecting colorlog<6.0,>=4.0.2
  Downloading colorlog-5.0.1-py2.py3-none-any.whl (10 kB)
Collecting clickclick>=1.2
  Downloading clickclick-20.10.2-py2.py3-none-any.whl (7.4 kB)
Collecting apache-airflow-providers-ftp
  Downloading apache_airflow_providers_ftp-3.3.1-py3-none-any.whl (19 kB)
Collecting markupsafe<2.0,>=1.1.1
  Downloading MarkupSafe-1.1.1-cp38-cp38-manylinux2010_x86_64.whl (32 kB)
Collecting flask-appbuilder<4.0.0,>=3.3.2
  Downloading Flask_AppBuilder-3.4.5-py3-none-any.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 31.4 MB/s eta 0:00:00
Collecting attrs<21.0,>=20.0
  Downloading attrs-20.3.0-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.3/49.3 KB 3.0 MB/s eta 0:00:00
Requirement already satisfied: jinja2<4,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (2.11.3)
Collecting swagger-ui-bundle>=0.0.2
  Downloading swagger_ui_bundle-0.0.9-py3-none-any.whl (6.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.2/6.2 MB 49.2 MB/s eta 0:00:00
Requirement already satisfied: tabulate<0.9,>=0.7.5 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (0.8.10)
Collecting openapi-spec-validator>=0.2.4
  Downloading openapi_spec_validator-0.5.5-py3-none-any.whl (32 kB)
Collecting apache-airflow-providers-imap
  Downloading apache_airflow_providers_imap-3.1.1-py3-none-any.whl (17 kB)
Collecting apache-airflow-providers-sqlite
  Downloading apache_airflow_providers_sqlite-3.3.1-py3-none-any.whl (14 kB)
Collecting blinker
  Downloading blinker-1.5-py2.py3-none-any.whl (12 kB)
Collecting lockfile>=0.12.2
  Downloading lockfile-0.12.2-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: sqlalchemy>=1.3.18 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (1.4.46)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (2.2.0)
Requirement already satisfied: dill<0.4,>=0.2.2 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (0.3.6)
Collecting marshmallow-oneofschema>=2.0.1
  Downloading marshmallow_oneofschema-3.0.1-py2.py3-none-any.whl (5.8 kB)
Requirement already satisfied: importlib-metadata>=1.7 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (6.0.0)
Collecting argcomplete~=1.10
  Downloading argcomplete-1.12.3-py2.py3-none-any.whl (38 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (1.22.4)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Collecting python3-openid~=3.2
  Downloading python3_openid-3.2.0-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.7/133.7 KB 8.9 MB/s eta 0:00:00
Requirement already satisfied: flask<2.0,>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (1.1.4)
Collecting sqlalchemy-jsonfield~=1.0
  Downloading SQLAlchemy_JSONField-1.0.1.post0-py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil<3,>=2.3 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (2.8.2)
Collecting python-nvd3~=0.15.0
  Downloading python-nvd3-0.15.0.tar.gz (31 kB)
  Preparing metadata (setup.py) ... done
Collecting python-daemon>=2.2.4
  Downloading python_daemon-2.3.2-py3-none-any.whl (34 kB)
Collecting iso8601>=0.1.12
  Downloading iso8601-1.1.0-py3-none-any.whl (9.9 kB)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (6.0)
Collecting pendulum~=2.0
  Downloading pendulum-2.1.2-cp38-cp38-manylinux1_x86_64.whl (155 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 155.7/155.7 KB 7.6 MB/s eta 0:00:00
Collecting python-slugify<5.0,>=3.0.0
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Collecting alembic<2.0,>=1.2
  Downloading alembic-1.9.4-py3-none-any.whl (210 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.5/210.5 KB 7.0 MB/s eta 0:00:00
Collecting importlib-resources~=1.4
  Downloading importlib_resources-1.5.0-py2.py3-none-any.whl (21 kB)
Collecting flask-caching<2.0.0,>=1.5.0
  Downloading Flask_Caching-1.11.1-py3-none-any.whl (29 kB)
Requirement already satisfied: markdown<4.0,>=2.5.2 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (3.4.1)
Collecting gunicorn>=19.5.0
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 KB 5.5 MB/s eta 0:00:00
Collecting cryptography>=0.9.3
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 41.7 MB/s eta 0:00:00
Collecting graphviz>=0.12
  Downloading graphviz-0.20.1-py3-none-any.whl (47 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.0/47.0 KB 2.0 MB/s eta 0:00:00
Collecting apache-airflow-providers-http
  Downloading apache_airflow_providers_http-4.2.0-py3-none-any.whl (22 kB)
Requirement already satisfied: docutils<0.17 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (0.16)
Collecting croniter<1.1,>=0.3.17
  Downloading croniter-1.0.15-py2.py3-none-any.whl (16 kB)
Collecting rich>=9.2.0
  Downloading rich-13.3.1-py3-none-any.whl (239 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 239.0/239.0 KB 13.0 MB/s eta 0:00:00
Collecting lazy-object-proxy
  Downloading lazy_object_proxy-1.9.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.4/61.4 KB 760.9 kB/s eta 0:00:00
Collecting jsonschema~=3.0
  Downloading jsonschema-3.2.0-py2.py3-none-any.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.3/56.3 KB 4.0 MB/s eta 0:00:00
Requirement already satisfied: psutil<6.0.0,>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (5.4.8)
Requirement already satisfied: itsdangerous<2.0,>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (1.1.0)
Collecting tenacity~=6.2.0
  Downloading tenacity-6.2.0-py2.py3-none-any.whl (24 kB)
Collecting flask-login<0.5,>=0.3
  Downloading Flask-Login-0.4.1.tar.gz (14 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas<2.0,>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (1.3.5)
Collecting flask-wtf<0.15,>=0.14.3
  Downloading Flask_WTF-0.14.3-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: werkzeug>=1.0.1,~=1.0 in /usr/local/lib/python3.8/dist-packages (from apache-airflow==2.1.4) (1.0.1)
Collecting cattrs<1.7.0,~=1.1
  Downloading cattrs-1.5.0-py3-none-any.whl (19 kB)
Collecting httpx
  Downloading httpx-0.23.3-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.5/71.5 KB 3.6 MB/s eta 0:00:00
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 KB 3.1 MB/s eta 0:00:00
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.8/dist-packages (from clickclick>=1.2->apache-airflow==2.1.4) (7.1.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=0.9.3->apache-airflow==2.1.4) (1.15.1)
Collecting WTForms<3.0.0
  Downloading WTForms-2.3.3-py2.py3-none-any.whl (169 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.1/169.1 KB 10.4 MB/s eta 0:00:00
Collecting colorama<1,>=0.3.9
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting Flask-OpenID<2,>=1.2.5
  Downloading Flask_OpenID-1.3.0-py3-none-any.whl (9.3 kB)
Collecting apispec[yaml]<4,>=3.3
  Downloading apispec-3.3.2-py2.py3-none-any.whl (27 kB)
Collecting marshmallow-enum<2,>=1.5.1
  Downloading marshmallow_enum-1.5.1-py2.py3-none-any.whl (4.2 kB)
Collecting email-validator<2,>=1.0.5
  Downloading email_validator-1.3.1-py2.py3-none-any.whl (22 kB)
Collecting Flask-JWT-Extended<4,>=3.18
  Downloading Flask-JWT-Extended-3.25.1.tar.gz (32 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: marshmallow<4,>=3 in /usr/local/lib/python3.8/dist-packages (from flask-appbuilder<4.0.0,>=3.3.2->apache-airflow==2.1.4) (3.19.0)
Collecting marshmallow-sqlalchemy<0.27.0,>=0.22.0
  Downloading marshmallow_sqlalchemy-0.26.1-py2.py3-none-any.whl (15 kB)
Collecting Flask-Babel<3,>=1
  Downloading Flask_Babel-2.0.0-py3-none-any.whl (9.3 kB)
Collecting sqlalchemy-utils<1,>=0.32.21
  Downloading SQLAlchemy_Utils-0.40.0-py3-none-any.whl (92 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 11.3 MB/s eta 0:00:00
Collecting Flask-SQLAlchemy<3,>=2.4
  Downloading Flask_SQLAlchemy-2.5.1-py2.py3-none-any.whl (17 kB)
Collecting prison<1.0.0,>=0.2.1
  Downloading prison-0.2.1-py2.py3-none-any.whl (5.8 kB)
Collecting cachelib
  Downloading cachelib-0.10.2-py3-none-any.whl (18 kB)
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.8/dist-packages (from gunicorn>=19.5.0->apache-airflow==2.1.4) (57.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=1.7->apache-airflow==2.1.4) (3.14.0)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema~=3.0->apache-airflow==2.1.4) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema~=3.0->apache-airflow==2.1.4) (0.19.3)
Collecting openapi-spec-validator>=0.2.4
  Downloading openapi_spec_validator-0.5.4-py3-none-any.whl (32 kB)
  Downloading openapi_spec_validator-0.5.3-py3-none-any.whl (32 kB)
  Downloading openapi_spec_validator-0.5.2-py3-none-any.whl (31 kB)
  Downloading openapi_spec_validator-0.5.1-py3-none-any.whl (31 kB)
  Downloading openapi_spec_validator-0.5.0-py3-none-any.whl (31 kB)
  Downloading openapi_spec_validator-0.4.0-py3-none-any.whl (31 kB)
Collecting openapi-schema-validator<0.3.0,>=0.2.0
  Downloading openapi_schema_validator-0.2.3-py3-none-any.whl (8.3 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas<2.0,>=0.17.1->apache-airflow==2.1.4) (2022.7.1)
Collecting pytzdata>=2020.1
  Downloading pytzdata-2020.1-py2.py3-none-any.whl (489 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 490.0/490.0 KB 34.5 MB/s eta 0:00:00
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify<5.0,>=3.0.0->apache-airflow==2.1.4) (1.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from python3-openid~=3.2->apache-airflow==2.1.4) (0.7.1)
Requirement already satisfied: typing-extensions<5.0,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from rich>=9.2.0->apache-airflow==2.1.4) (4.5.0)
Collecting pygments<3.0,>=2.0.1
  Downloading Pygments-2.14.0-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 54.3 MB/s eta 0:00:00
Collecting markdown-it-py<3.0.0,>=2.1.0
  Downloading markdown_it_py-2.2.0-py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.5/84.5 KB 10.2 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy>=1.3.18->apache-airflow==2.1.4) (2.0.2)
Collecting asgiref
  Downloading asgiref-3.6.0-py3-none-any.whl (23 kB)
Collecting requests>=2.26.0
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.8 MB/s eta 0:00:00
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from apache-airflow-providers-http->apache-airflow==2.1.4) (3.8.4)
Collecting requests-toolbelt
  Downloading requests_toolbelt-0.10.1-py2.py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.5/54.5 KB 6.7 MB/s eta 0:00:00
Collecting apache-airflow-providers-common-sql>=1.3.1
  Downloading apache_airflow_providers_common_sql-1.3.3-py3-none-any.whl (31 kB)
Collecting rfc3986[idna2008]<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from httpx->apache-airflow==2.1.4) (2022.12.7)
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting httpcore<0.17.0,>=0.15.0
  Downloading httpcore-0.16.3-py3-none-any.whl (69 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.6/69.6 KB 7.9 MB/s eta 0:00:00
Requirement already satisfied: sqlparse>=0.4.2 in /usr/local/lib/python3.8/dist-packages (from apache-airflow-providers-common-sql>=1.3.1->apache-airflow-providers-sqlite->apache-airflow==2.1.4) (0.4.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=0.9.3->apache-airflow==2.1.4) (2.21)
Requirement already satisfied: idna>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from email-validator<2,>=1.0.5->flask-appbuilder<4.0.0,>=3.3.2->apache-airflow==2.1.4) (2.10)
Requirement already satisfied: dnspython>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from email-validator<2,>=1.0.5->flask-appbuilder<4.0.0,>=3.3.2->apache-airflow==2.1.4) (2.3.0)
Requirement already satisfied: Babel>=2.3 in /usr/local/lib/python3.8/dist-packages (from Flask-Babel<3,>=1->flask-appbuilder<4.0.0,>=3.3.2->apache-airflow==2.1.4) (2.11.0)
Collecting anyio<5.0,>=3.0
  Downloading anyio-3.6.2-py3-none-any.whl (80 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.6/80.6 KB 9.6 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 KB 6.7 MB/s eta 0:00:00
Collecting mdurl~=0.1
  Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.8/dist-packages (from marshmallow<4,>=3->flask-appbuilder<4.0.0,>=3.3.2->apache-airflow==2.1.4) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26.0->apache-airflow-providers-http->apache-airflow==2.1.4) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26.0->apache-airflow-providers-http->apache-airflow==2.1.4) (1.24.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->apache-airflow-providers-http->apache-airflow==2.1.4) (6.0.4)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->apache-airflow-providers-http->apache-airflow==2.1.4) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->apache-airflow-providers-http->apache-airflow==2.1.4) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->apache-airflow-providers-http->apache-airflow==2.1.4) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->apache-airflow-providers-http->apache-airflow==2.1.4) (1.8.2)
Building wheels for collected packages: flask-login, python-nvd3, python-slugify, unicodecsv, Flask-JWT-Extended
  Building wheel for flask-login (setup.py) ... done
  Created wheel for flask-login: filename=Flask_Login-0.4.1-py2.py3-none-any.whl size=15950 sha256=73fd842e2db87d58df8d6040c64d83fae7b2cc2693c20bb8be2a0b5a03715801
  Stored in directory: /root/.cache/pip/wheels/ec/8e/42/16110a8b4f17e4ef4bd0abd42969fc1fc38229348de9f071df
  Building wheel for python-nvd3 (setup.py) ... done
  Created wheel for python-nvd3: filename=python_nvd3-0.15.0-py3-none-any.whl size=38164 sha256=b790a443589e17b912bec6ea9590d3ea6f0bac75b9d00561da50c42e7e3de128
  Stored in directory: /root/.cache/pip/wheels/8c/92/61/c1d567a155a1f15d2e1a633eef32ed3a7c7906c323d49fa3a2
  Building wheel for python-slugify (setup.py) ... done
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6781 sha256=c029fbb8e498e5abc2ded02948e25ab74702ea57237cf03fcd89514b272c69f1
  Stored in directory: /root/.cache/pip/wheels/91/4d/4f/e740a68c215791688c46c4d6251770a570e8dfea91af1acb5c
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-py3-none-any.whl size=10766 sha256=cd2d422f38e89c2387504e4c72d1993660712087fd1cafc6b71cdc38b8cc4894
  Stored in directory: /root/.cache/pip/wheels/35/dd/44/ccb37563a01457f5de74ccedccaee81b01a53e12addeab5e0f
  Building wheel for Flask-JWT-Extended (setup.py) ... done
  Created wheel for Flask-JWT-Extended: filename=Flask_JWT_Extended-3.25.1-py2.py3-none-any.whl size=21612 sha256=51e4708a72a159d6c7ab607e9e490d81c883653f681bb9985bbf3214a63ec418
  Stored in directory: /root/.cache/pip/wheels/00/60/4a/7fc484ed75cc2baea756f0a3d07aa2065d09688d940c6fac1e
Successfully built flask-login python-nvd3 python-slugify unicodecsv Flask-JWT-Extended
Installing collected packages: unicodecsv, rfc3986, pyjwt, lockfile, colorlog, argcomplete, tenacity, sniffio, setproctitle, requests, pytzdata, python3-openid, python-slugify, python-daemon, pygments, prison, mdurl, markupsafe, lazy-object-proxy, iso8601, inflection, importlib-resources, h11, gunicorn, graphviz, email-validator, colorama, clickclick, cachelib, blinker, attrs, asgiref, apispec, apache-airflow-providers-imap, apache-airflow-providers-ftp, apache-airflow-providers-common-sql, WTForms, sqlalchemy-utils, sqlalchemy-jsonfield, requests-toolbelt, pendulum, marshmallow-sqlalchemy, marshmallow-oneofschema, marshmallow-enum, markdown-it-py, Mako, jsonschema, cryptography, croniter, cattrs, apache-airflow-providers-sqlite, anyio, swagger-ui-bundle, rich, python-nvd3, openapi-schema-validator, httpcore, apache-airflow-providers-http, alembic, openapi-spec-validator, httpx, flask-wtf, Flask-SQLAlchemy, Flask-OpenID, flask-login, Flask-JWT-Extended, flask-caching, Flask-Babel, flask-appbuilder, apache-airflow
  Attempting uninstall: tenacity
    Found existing installation: tenacity 8.2.1
    Uninstalling tenacity-8.2.1:
      Successfully uninstalled tenacity-8.2.1
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: python-slugify
    Found existing installation: python-slugify 8.0.0
    Uninstalling python-slugify-8.0.0:
      Successfully uninstalled python-slugify-8.0.0
  Attempting uninstall: pygments
    Found existing installation: Pygments 2.6.1
    Uninstalling Pygments-2.6.1:
      Successfully uninstalled Pygments-2.6.1
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
  Attempting uninstall: importlib-resources
    Found existing installation: importlib-resources 5.12.0
    Uninstalling importlib-resources-5.12.0:
      Successfully uninstalled importlib-resources-5.12.0
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1

In [2]:
# Создадим необходимые папки
!mkdir /root/airflow/dags
!touch /root/airflow/dags/dag.py

In [3]:
# Включим веб-сервер
!airflow webserver -p 18273 -D

/usr/local/lib/python3.8/dist-packages/flask_appbuilder/models/sqla/interface.py:68 SAWarning: relationship 'DagRun.serialized_dag' will copy column serialized_dag.dag_id to column dag_run.dag_id, which conflicts with relationship(s): 'DagRun.task_instances' (copies task_instance.dag_id to dag_run.dag_id), 'TaskInstance.dag_run' (copies task_instance.dag_id to dag_run.dag_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="dag_run,task_instances"' to the 'DagRun.serialized_dag' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
/usr/local/lib/python3.8/dist-packages/flask_appbuilder/models/sqla/interface.py:68 SAWarning: relationship 'SerializedDagModel.dag_runs' will copy column serialized_dag.dag_id to column dag_run.dag_id, which conflicts with relationship(s): 'DagRun.task_instances' (copies task_instance.dag_id to dag_run.dag_id), 'TaskInstance.dag_run' (copies task_instance.dag_id to dag_run.dag_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="dag_run,task_instances"' to the 'SerializedDagModel.dag_runs' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  ____________       _____________
 ____    |__( )_________  __/__  /________      __
____  /| |_  /__  ___/_  /_ __  /_  __ \_ | /| / /
___  ___ |  / _  /   _  __/ _  / / /_/ /_ |/ |/ /
 _/_/  |_/_/  /_/    /_/    /_/  \____/____/|__/
[2023-02-26 18:09:47,871] {dagbag.py:496} INFO - Filling up the DagBag from /dev/null
[2023-02-26 18:09:47,941] {manager.py:805} WARNING - No user yet created, use flask fab command to do it.
Running the Gunicorn Server with:
Workers: 4 sync
Host: 0.0.0.0:18273
Timeout: 120
Logfiles: - -
Access Logformat:
=================================================================

In [4]:
# Создадим пользователя Airflow
!airflow users create \
          --username admin \
          --firstname admin \
          --lastname admin \
          --role Admin \
          --email admin@example.org \
          -p 12345

/usr/local/lib/python3.8/dist-packages/flask_appbuilder/models/sqla/interface.py:68 SAWarning: relationship 'DagRun.serialized_dag' will copy column serialized_dag.dag_id to column dag_run.dag_id, which conflicts with relationship(s): 'DagRun.task_instances' (copies task_instance.dag_id to dag_run.dag_id), 'TaskInstance.dag_run' (copies task_instance.dag_id to dag_run.dag_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="dag_run,task_instances"' to the 'DagRun.serialized_dag' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
/usr/local/lib/python3.8/dist-packages/flask_appbuilder/models/sqla/interface.py:68 SAWarning: relationship 'SerializedDagModel.dag_runs' will copy column serialized_dag.dag_id to column dag_run.dag_id, which conflicts with relationship(s): 'DagRun.task_instances' (copies task_instance.dag_id to dag_run.dag_id), 'TaskInstance.dag_run' (copies task_instance.dag_id to dag_run.dag_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="dag_run,task_instances"' to the 'SerializedDagModel.dag_runs' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
[2023-02-26 18:10:04,069] {manager.py:805} WARNING - No user yet created, use flask fab command to do it.
Admin user admin created

Поместите в dag.py следующий код.

```python
from airflow import DAG
from datetime import timedelta
from airflow.utils.dates import days_ago
from airflow.operators.dummy_operator import DummyOperator

dag = DAG('dag',schedule_interval=timedelta(days=1), start_date=days_ago(1))
t1 = DummyOperator(task_id='task_1', dag=dag)
t2 = DummyOperator(task_id='task_2',dag=dag)
t3 = DummyOperator(task_id='task_3',dag=dag)
t4 = DummyOperator(task_id='task_4',dag=dag)
t5 = DummyOperator(task_id='task_5',dag=dag)
t6 = DummyOperator(task_id='task_6',dag=dag)
t7 = DummyOperator(task_id='task_7',dag=dag)

[t1, t2]>>t5
t3>>t6
[t5,t6] >>  t7
t4
```

In [5]:
# Запуск шедулера
!airflow scheduler -D

/usr/local/lib/python3.8/dist-packages/airflow/utils/cli.py:149 SAWarning: relationship 'DagRun.serialized_dag' will copy column serialized_dag.dag_id to column dag_run.dag_id, which conflicts with relationship(s): 'DagRun.task_instances' (copies task_instance.dag_id to dag_run.dag_id), 'TaskInstance.dag_run' (copies task_instance.dag_id to dag_run.dag_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="dag_run,task_instances"' to the 'DagRun.serialized_dag' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
/usr/local/lib/python3.8/dist-packages/airflow/utils/cli.py:149 SAWarning: relationship 'SerializedDagModel.dag_runs' will copy column serialized_dag.dag_id to column dag_run.dag_id, which conflicts with relationship(s): 'DagRun.task_instances' (copies task_instance.dag_id to dag_run.dag_id), 'TaskInstance.dag_run' (copies task_instance.dag_id to dag_run.dag_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="dag_run,task_instances"' to the 'SerializedDagModel.dag_runs' relationship. (Background on this error at: https://sqlalche.me/e/14/qzyx)
  ____________       _____________
 ____    |__( )_________  __/__  /________      __
____  /| |_  /__  ___/_  /_ __  /_  __ \_ | /| / /
___  ___ |  / _  /   _  __/ _  / / /_/ /_ |/ |/ /
 _/_/  |_/_/  /_/    /_/    /_/  \____/____/|__/

In [7]:
# Последующие команды не имеют отношения к Airflow
# Они нужни только для корректной работы веб морды
# в среде Google Colab

!pip install pyngrok
!ngrok authtoken  2MBRgJ066swk4ThgvdLuWtytQAI_3WLNSDpTtkwHYi33C27nr # найти его можно https://dashboard.ngrok.com/get-started/setup 

# Эта команда просто отображет веб морду на другой адрес
# Его вы можете найти https://dashboard.ngrok.com/cloud-edge/status
# При каждом отключении ссылка будет меняться
!nohup ngrok http -log=stdout 18273 > /dev/null &

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyngrok in /usr/local/lib/python3.8/dist-packages (5.2.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)
Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml
nohup: redirecting stderr to stdout

После запуска команды выше, перейдите по адресу в ngrok и подождите  пока появится DAG с именем dag. 

***Запустите его несколько раз!!!!***

***Запустите его несколько раз!!!!***

***Запустите его несколько раз!!!!***

![Безымянный.png]()

### Практика

**На этом занятии мы будем разбираться с базой метаданных**

#### Посмотрим на структуру таблиц

In [8]:
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql sqlite:////root//airflow/airflow.db
%sql SELECT distinct tbl_name FROM sqlite_master WHERE type='table';

# Задание 1
# В ответе напишите количество таблиц

 * sqlite:////root//airflow/airflow.db

                         tbl_name
0                 alembic_version
1                      dag_pickle
2                    import_error
3                             job
4                             log
5                        sla_miss
6                        variable
7                       task_fail
8                 task_reschedule
9                  serialized_dag
10                        dag_tag
11  rendered_task_instance_fields
12                       dag_code
13                  ab_permission
14                        ab_role
15             ab_permission_view
16        ab_permission_view_role
17                        ab_user
18                   ab_user_role
19               ab_register_user
20                   ab_view_menu
21                           xcom
22                      slot_pool
23                        dag_run
24                sensor_instance
25                     connection
26                            dag
27                  task_instance

#### Посмотрим на запуски нашего дага

In [9]:
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql sqlite:////root//airflow/airflow.db
%sql SELECT * FROM task_instance

# Задание 2
# В ответе напишите значение в поле unixname

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:////root//airflow/airflow.db

,task_id,dag_id,execution_date,start_date,end_date,duration,state,try_number,hostname,unixname,...,queue,priority_weight,operator,queued_dttm,pid,max_tries,executor_config,pool_slots,queued_by_job_id,external_executor_id
0,task_1,dag,2023-02-25 00:00:00.000000,2023-02-26 18:22:15.751928,2023-02-26 18:22:15.751943,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
1,task_2,dag,2023-02-25 00:00:00.000000,2023-02-26 18:22:15.751928,2023-02-26 18:22:15.751943,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
2,task_3,dag,2023-02-25 00:00:00.000000,2023-02-26 18:22:15.751928,2023-02-26 18:22:15.751943,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
3,task_4,dag,2023-02-25 00:00:00.000000,2023-02-26 18:22:15.751928,2023-02-26 18:22:15.751943,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
4,task_5,dag,2023-02-25 00:00:00.000000,2023-02-26 18:22:16.953188,2023-02-26 18:22:16.953196,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
5,task_6,dag,2023-02-25 00:00:00.000000,2023-02-26 18:22:16.953188,2023-02-26 18:22:16.953196,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
6,task_7,dag,2023-02-25 00:00:00.000000,2023-02-26 18:22:18.125683,2023-02-26 18:22:18.125694,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
7,task_1,dag,2023-02-26 18:22:20.301362,2023-02-26 18:22:21.079184,2023-02-26 18:22:21.079192,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
8,task_2,dag,2023-02-26 18:22:20.301362,2023-02-26 18:22:21.079184,2023-02-26 18:22:21.079192,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
9,task_3,dag,2023-02-26 18:22:20.301362,2023-02-26 18:22:21.079184,2023-02-26 18:22:21.079192,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
10,task_4,dag,2023-02-26 18:22:20.301362,2023-02-26 18:22:21.079184,2023-02-26 18:22:21.079192,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
11,task_5,dag,2023-02-26 18:22:20.301362,2023-02-26 18:22:22.274297,2023-02-26 18:22:22.274306,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
12,task_6,dag,2023-02-26 18:22:20.301362,2023-02-26 18:22:22.274297,2023-02-26 18:22:22.274306,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
13,task_7,dag,2023-02-26 18:22:20.301362,2023-02-26 18:22:23.440861,2023-02-26 18:22:23.440869,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
14,task_1,dag,2023-02-26 18:22:31.248212,2023-02-26 18:22:32.559446,2023-02-26 18:22:32.559455,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
15,task_2,dag,2023-02-26 18:22:31.248212,2023-02-26 18:22:32.559446,2023-02-26 18:22:32.559455,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
16,task_3,dag,2023-02-26 18:22:31.248212,2023-02-26 18:22:32.559446,2023-02-26 18:22:32.559455,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
17,task_4,dag,2023-02-26 18:22:31.248212,2023-02-26 18:22:32.559446,2023-02-26 18:22:32.559455,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
18,task_5,dag,2023-02-26 18:22:31.248212,2023-02-26 18:22:33.735644,2023-02-26 18:22:33.735653,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
19,task_6,dag,2023-02-26 18:22:31.248212,2023-02-26 18:22:33.735644,2023-02-26 18:22:33.735653,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
20,task_7,dag,2023-02-26 18:22:31.248212,2023-02-26 18:22:35.102868,2023-02-26 18:22:35.102874,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
21,task_1,dag,2023-02-26 18:22:45.564424,2023-02-26 18:22:46.577013,2023-02-26 18:22:46.577022,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
22,task_2,dag,2023-02-26 18:22:45.564424,2023-02-26 18:22:46.577013,2023-02-26 18:22:46.577022,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
23,task_3,dag,2023-02-26 18:22:45.564424,2023-02-26 18:22:46.577013,2023-02-26 18:22:46.577022,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
24,task_4,dag,2023-02-26 18:22:45.564424,2023-02-26 18:22:46.577013,2023-02-26 18:22:46.577022,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
25,task_5,dag,2023-02-26 18:22:45.564424,2023-02-26 18:22:47.165337,2023-02-26 18:22:47.165347,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
26,task_6,dag,2023-02-26 18:22:45.564424,2023-02-26 18:22:47.165337,2023-02-26 18:22:47.165347,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
27,task_7,dag,2023-02-26 18:22:45.564424,2023-02-26 18:22:48.358676,2023-02-26 18:22:48.358690,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
28,task_1,dag,2023-02-26 18:22:49.721354,2023-02-26 18:22:50.295775,2023-02-26 18:22:50.295784,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
29,task_2,dag,2023-02-26 18:22:49.721354,2023-02-26 18:22:50.295775,2023-02-26 18:22:50.295784,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
30,task_3,dag,2023-02-26 18:22:49.721354,2023-02-26 18:22:50.295775,2023-02-26 18:22:50.295784,0.0,success,0,,root,...,default,3,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
31,task_4,dag,2023-02-26 18:22:49.721354,2023-02-26 18:22:50.295775,2023-02-26 18:22:50.295784,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
32,task_5,dag,2023-02-26 18:22:49.721354,2023-02-26 18:22:51.476132,2023-02-26 18:22:51.476141,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
33,task_6,dag,2023-02-26 18:22:49.721354,2023-02-26 18:22:51.476132,2023-02-26 18:22:51.476141,0.0,success,0,,root,...,default,2,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None
34,task_7,dag,2023-02-26 18:22:49.721354,2023-02-26 18:22:52.374270,2023-02-26 18:22:52.374289,0.0,success,0,,root,...,default,1,DummyOperator,None,None,0,b'\x80\x05}\x94.',1,None,None

#### Посмотрим на логи

In [10]:
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql sqlite:////root//airflow/airflow.db
%sql SELECT * FROM log order by length(event) desc

# Задание 3
# В ответе напишите первый event

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:////root//airflow/airflow.db

,id,dttm,dag_id,task_id,event,execution_date,owner,extra
0,2,2023-02-26 18:10:03.598827,None,None,cli_users_create,None,root,"{""host_name"": ""8c5de88b5cd4"", ""full_command"": ..."
1,1,2023-02-26 18:09:47.838563,None,None,cli_webserver,None,root,"{""host_name"": ""8c5de88b5cd4"", ""full_command"": ..."
2,3,2023-02-26 18:14:27.795189,None,None,cli_scheduler,None,root,"{""host_name"": ""8c5de88b5cd4"", ""full_command"": ..."
3,7,2023-02-26 18:22:16.983117,dag,None,tree_data,None,admin,"[('dag_id', 'dag'), ('num_runs', '25'), ('root..."
4,8,2023-02-26 18:22:19.987204,dag,None,tree_data,None,admin,"[('dag_id', 'dag'), ('num_runs', '25'), ('root..."
5,11,2023-02-26 18:22:24.884914,dag,None,tree_data,None,admin,"[('dag_id', 'dag'), ('num_runs', '25'), ('root..."
6,14,2023-02-26 18:22:35.685060,dag,None,tree_data,None,admin,"[('dag_id', 'dag'), ('num_runs', '25'), ('root..."
7,15,2023-02-26 18:22:38.702392,dag,None,tree_data,None,admin,"[('dag_id', 'dag'), ('num_runs', '25'), ('root..."
8,18,2023-02-26 18:22:49.676225,dag,None,tree_data,None,admin,"[('dag_id', 'dag'), ('num_runs', '25'), ('root..."
9,21,2023-02-26 18:22:53.931586,dag,None,tree_data,None,admin,"[('dag_id', 'dag'), ('num_runs', '25'), ('root..."
10,9,2023-02-26 18:22:20.284398,dag,None,trigger,None,admin,"[('dag_id', 'dag'), ('origin', '/tree?dag_id=d..."
11,12,2023-02-26 18:22:31.233054,dag,None,trigger,None,admin,"[('dag_id', 'dag'), ('origin', '/tree?dag_id=d..."
12,16,2023-02-26 18:22:45.550246,dag,None,trigger,None,admin,"[('dag_id', 'dag'), ('origin', '/tree?dag_id=d..."
13,19,2023-02-26 18:22:49.705926,dag,None,trigger,None,admin,"[('dag_id', 'dag'), ('origin', '/tree?dag_id=d..."
14,5,2023-02-26 18:22:14.302548,dag,None,paused,None,admin,"[('is_paused', 'true'), ('dag_id', 'dag')]"
15,6,2023-02-26 18:22:14.316091,dag,None,paused,None,admin,"[('is_paused', 'true'), ('dag_id', 'dag')]"
16,4,2023-02-26 18:22:08.573255,dag,None,tree,None,admin,"[('dag_id', 'dag')]"
17,10,2023-02-26 18:22:20.545701,dag,None,tree,None,admin,"[('dag_id', 'dag')]"
18,13,2023-02-26 18:22:31.513779,dag,None,tree,None,admin,"[('dag_id', 'dag')]"
19,17,2023-02-26 18:22:45.811697,dag,None,tree,None,admin,"[('dag_id', 'dag')]"
20,20,2023-02-26 18:22:49.966419,dag,None,tree,None,admin,"[('dag_id', 'dag')]"

#### Посмотрим на список дагов

In [11]:
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql sqlite:////root//airflow/airflow.db
%sql SELECT * FROM dag

# Задание 4
# В ответе напишите root_dag_id которые не None, как видите зависимость может быть не только между тасками но и дагами

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:////root//airflow/airflow.db

,dag_id,is_paused,is_subdag,is_active,last_parsed_time,last_pickled,last_expired,scheduler_lock,pickle_id,fileloc,owners,description,default_view,schedule_interval,root_dag_id,next_dagrun,next_dagrun_create_after,concurrency,has_task_concurrency_limits,max_active_runs
0,example_complex,1,0,1,2023-02-26 18:23:34.566079,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
1,example_short_circuit_operator,1,0,1,2023-02-26 18:23:53.996052,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 1, ""se...",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
2,example_trigger_controller_dag,1,0,1,2023-02-26 18:23:41.292273,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@once""",None,2023-02-24 00:00:00.000000,2023-02-24 00:00:00.000000,16,0,16
3,latest_only,1,0,1,2023-02-26 18:24:03.526562,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 0, ""se...",None,2023-02-24 00:00:00.000000,2023-02-24 04:00:00.000000,16,0,16
4,example_subdag_operator,1,0,1,2023-02-26 18:23:49.043734,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@once""",None,2023-02-24 00:00:00.000000,2023-02-24 00:00:00.000000,16,0,16
5,example_python_operator,1,0,1,2023-02-26 18:23:57.228618,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
6,example_branch_operator,1,0,1,2023-02-26 18:23:37.379741,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@daily""",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
7,example_trigger_target_dag,1,0,1,2023-02-26 18:23:55.940593,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
8,example_subdag_operator.section-2,1,1,1,2023-02-26 18:23:49.072287,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@daily""",example_subdag_operator,None,None,16,0,16
9,tutorial,1,0,1,2023-02-26 18:23:50.740861,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,A simple tutorial DAG,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 1, ""se...",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
10,example_branch_dop_operator_v3,1,0,1,2023-02-26 18:23:35.734628,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""*/1 * * * *""",None,2023-02-24 00:00:00.000000,2023-02-24 00:01:00.000000,16,0,16
11,example_task_group_decorator,1,0,1,2023-02-26 18:23:44.044380,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 1, ""se...",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
12,example_branch_labels,1,0,1,2023-02-26 18:23:55.277608,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@daily""",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
13,example_weekday_branch_operator,1,0,1,2023-02-26 18:23:50.283666,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@daily""",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
14,example_nested_branch_dag,1,0,1,2023-02-26 18:24:04.677738,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@daily""",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
15,example_external_task_marker_child,1,0,1,2023-02-26 18:24:08.799890,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
16,example_branch_datetime_operator_2,1,0,1,2023-02-26 18:24:00.764278,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@daily""",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
17,example_xcom,1,0,1,2023-02-26 18:24:02.384851,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@once""",None,2023-02-24 00:00:00.000000,2023-02-24 00:00:00.000000,16,0,16
18,example_xcom_args_with_operators,1,0,1,2023-02-26 18:23:52.754471,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
19,example_kubernetes_executor,1,0,1,2023-02-26 18:24:07.568976,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
20,tutorial_taskflow_api_etl,1,0,1,2023-02-26 18:23:45.497376,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
21,tutorial_taskflow_api_etl_virtualenv,1,0,1,2023-02-26 18:23:40.033688,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
22,example_external_task_marker_parent,1,0,1,2023-02-26 18:24:08.801244,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
23,tutorial_etl_dag,1,0,1,2023-02-26 18:23:46.739842,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,ETL DAG tutorial,tree,null,None,None,None,16,0,16
24,example_task_group,1,0,1,2023-02-26 18:23:42.569668,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 1, ""se...",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
25,example_skip_dag,1,0,1,2023-02-26 18:23:47.884830,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 1, ""se...",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
26,test_utils,1,0,1,2023-02-26 18:23:51.379628,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
27,example_passing_params_via_test_command,1,0,1,2023-02-26 18:23:58.468789,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""*/1 * * * *""",None,2023-02-25 00:00:00.000000,2023-02-25 00:01:00.000000,16,0,16
28,example_dag_decorator,1,0,1,2023-02-26 18:23:36.128154,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
29,example_subdag_operator.section-1,1,1,1,2023-02-26 18:23:49.071857,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""@daily""",example_subdag_operator,None,None,16,0,16
30,latest_only_with_trigger,1,0,1,2023-02-26 18:23:59.618604,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 0, ""se...",None,2023-02-24 00:00:00.000000,2023-02-24 04:00:00.000000,16,0,16
31,example_xcom_args,1,0,1,2023-02-26 18:23:52.753713,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,null,None,None,None,16,0,16
32,example_bash_operator,1,0,1,2023-02-26 18:24:05.819788,None,None,None,None,/usr/local/lib/python3.8/dist-packages/airflow...,airflow,None,tree,"""0 0 * * *""",None,2023-02-24 00:00:00.000000,2023-02-25 00:00:00.000000,16,0,16
33,dag,0,0,1,2023-02-26 18:24:01.208240,None,None,None,None,/root/airflow/dags/dag.py,airflow,None,tree,"{""type"": ""timedelta"", ""attrs"": {""days"": 1, ""se...",None,2023-02-26 00:00:00.000000,2023-02-27 00:00:00.000000,16,0,16